<main class="content" role="main" xmlns="http://www.w3.org/1999/html">
  <div class="panel">

  </div>

  <article class="post tag-superb tag-about-theme tag-information odd">
    <div class="post-inner">
      <header class="post-header">
        <h2 class="post-title"><%= @story.title %></h2>
      </header>

      <section class="post-excerpt">
        <p><%= @story.content %></p>
      </section>

					<span class="post-meta">
						<span></span>
						<span>
              <div class="fb-share-button" data-href="https://twolinestories.herokuapp.com/stories/<%= @story.id %>" data-layout="button"></div>
              <div><%= link_to "Back", root_path %></div>
            </span>
						<span></span>
					</span>
    </div>
  </article>
</main>